{% extends "SystemeJeuBundle::base.html.twig" %}

{% block title %}{{parent()}}{% endblock %}

{% block titre %} PartieCorps edit {% endblock %}

{% block body %}
<form action="{{ path('partiecorps_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('partiecorps') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('partiecorps_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}