{% extends "SystemeJeuBundle::base.html.twig" %}

{% block title %}{{parent()}}{% endblock %}

{% block titre %} Objet creation {% endblock %}

{% block body %}
<form action="{{ path('objet_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('objet') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}