{% extends "::base.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}
{% block titre %} Intro creation {% endblock %}
{% block body %}
{{ parent() }}
    <section>
        <form action="{{ path('intro_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <button type="submit">Créer</button>
            </p>
        </form>

        <ul class="record_actions">
            <li>
                <a href="{{ path('intro') }}">
                    Retour
                </a>
            </li>
        </ul>
    </section>
{% endblock %}