{% extends "::base.html.twig"%}
{% block title %} {{parent()}} | Evenement new{% endblock %}
{% block titre %} Evenement new{% endblock %}
{% block body %}
    {{parent()}}
    <section>
        <form action="{{ path('new_evenement') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <button type="submit">Create</button>
            </p>
        </form>
    </section>
{% endblock %}