{% extends "SystemeJeuBundle::base.html.twig" %}

{% block title %}{{parent()}}{% endblock %}

{% block titre %} Classe creation {% endblock %}

{% block body %}

<form action="{{ path('classe_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('classe') }}">
            Back to the list
        </a>
    </li>
</ul>
 {% endblock %}