{% extends "::base.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}
{% block titre %} Syst&egrave;me de jeu creation {% endblock %}
{% block body %}
{{ parent() }}
    <section>
        <form action="{{ path('systeme_jeu_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <button type="submit">Create</button>
            </p>
        </form>

        <ul class="record_actions">
            <li>
                <a href="{{ path('systeme_jeu') }}">
                    Back to the list
                </a>
            </li>
        </ul>
    </section>
{% endblock %}