{% extends "HistoireBundle::base.html.twig" %}

{% block title %}{{parent()}}{% endblock %}

{% block titre %} Histoire list {% endblock %}

{% block body %}
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Date_creation</th>
            <th>Date_modification</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('histoire_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.titre }}</td>
            <td>{% if entity.datecreation %}{{ entity.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.datemodification %}{{ entity.datemodification|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('histoire_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('histoire_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('histoire_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}