{% extends "UserBundle::base.html.twig" %}

{% block title %}{{parent()}}{% endblock %}

{% block titre %} Joueur list {% endblock %}

{% block body %}
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pseudo</th>
            <th>Mdp</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('joueur_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.pseudo }}</td>
            <td>{{ entity.mdp }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('joueur_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('joueur_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('joueur_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}